/* Variables -- usage:  background-color: var(--main-bg-color); */

:root {
  --pdk-blue: rgb(25,25,112);
  --pdk-orange: rgb(255,140,0);
  --pdk-lightgray: #808080;
  --pdk-darkgray: #0E2F44;
  --pdk-yellow: #FFD700;
  --pdk-black: rgb(0,0,0);
}


* {
  font-family: 'Open Sans', sans-serif;
  color: var(--pdk-darkgray);
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: block;
  margin: auto;
  min-height: 100vh;
  max-width: 1800px;
  position: relative;
  padding-bottom: 1em;
}

/* Google Fonts */

h1, 
h2,
h3,
h4 {
  font-family: 'Roboto', sans-serif;
  color: var(--pdk-orange);
  text-decoration: none;
  text-transform: uppercase;
}

h1 {
  font-size: 3em;
  text-align: center;
  padding: 0.5em;
}

h2 {
  font-size: 2em;
  margin-top: 0.6em;
  margin-bottom: 0.4em;
}

h3 {
  font-size: 1.6em;
}

body {
  min-height: 100px;
  clear: both;
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.6em;
  }

  h3 {
    font-size: 1.2em;
  }
}



/* Main layout - FLEX when over 900px wide */

.row {
  text-align: center;
}

@media screen and (min-width: 1000px) {
  .row {
    display: flex;
    text-align: left;
  }
}

.column {
  flex: 50%;
  padding: 1em 2em;

}

/* Main sections formatting */

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px; /* 5px rounded corners */
  display: block;
  margin: auto;
  max-width: 700px;
}

img {
  border-radius: 10px 10px 0 0;
  max-width: 100%;
  max-height: 100%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card_container {
  padding: 2px 16px;
}

.subtitle {
  display: inline-block;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

.PDK_link {
  font-weight: 700;
  font-style: italic;
  color: var(--pdk-orange);
}

.social_icons {
  font-size: 4em;
  color: var(--pdk-blue);
  padding-top: 0.2em;
  cursor: pointer;
}

.icon_container {
  display: flex;
  justify-content: space-around;

}

/* Footer */
.footer {
  background-color: var(--pdk-darkgray);
  color: var(--pdk-yellow);
  padding-top: 1.4em;
  bottom: 0;
  min-height: 60px;
  width: 100%;
  overflow: hidden;
}

.footer p {
  color: var(--pdk-yellow);
}

/* Buttons */

.square_btn{
  display: inline-block;
  padding: 1em 2.5em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #c58668;
}

.square_btn:active{
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.centered {
  text-align: center;
  margin-bottom: 1em;
}

hr {
  margin: 1em;
}

/***************************************** Navigation ************************************************************/

/* Add a black background color to the top navigation */
.topnav {
  background-color: var(--pdk-darkgray);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Add an active class to highlight the current page */
.active {
  background-color: var(--pdk-orange);
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}


/********************************* Giveaway Tool *******************************************/

#winner {
  font-size: 1.6em;
  padding: 0.2em;
  padding-top: 1em;
}

/* Tool backdrop */

.tool_backdrop {
  background: url(/assets/Abyss\ 3.jpg);
  min-height: 100vh;
  font-size: 1em;
  display: flex;
  justify-content: center;
}

.tool {
  text-align: center;
}

.tool label,
.tool p {
  color: var(--pdk-yellow);
  font-size: 1.4em;
  line-height: 1.4em;
}

input,
textarea {
  font-size: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.button {
  font-size: 1em;
} 


@media screen and (min-width: 900px) {

  #winner {
    font-size: 2em;
    padding: 0.5em;
  }

  /* Tool backdrop */

  .tool_backdrop {
    font-size: 1.2em;
  }


  .tool label,
  .tool p {
    font-size: 1.6em;
  }

}

/****************************8 Resources pages **************************/

.resource_list {
  padding-top: 2em;
  font-size: 1.4em;
  line-height: 1.2em;
  text-align: center;
}

.resource_list p a {
  color: var(--pdk-blue);
}
