/* Variables -- usage:  background-color: var(--main-bg-color); */

:root {
  --pdk-blue: #000080;
  --pdk-orange: #FF4500;
  --pdk-lightgray: #808080;
  --pdk-darkgray: #0E2F44;
  --pdk-yellow: #FFD700;
}


* {
  font-family: 'Open Sans', sans-serif;
  color: var(--pdk-blue);
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: block;
  margin: auto;
  min-height: 100vh;
  max-width: 1800px;
  position: relative;
  padding-bottom: 2rem;
}

/* Google Fonts */

h1, 
h2,
h3,
h4,
.section_title {
  font-family: 'Roboto', sans-serif;
  color: var(--pdk-orange);
  text-decoration: none;
  text-transform: uppercase;
}

h1 {
  font-size: 3rem;
  text-align: center;
  padding: 2rem;
}

h2 {
  font-size: 2rem;
}

body {
  min-height: 100px;
  clear: both;
}


/* Main layout - FLEX when over 900px wide */

.row {
  text-align: center;
}

@media screen and (min-width: 900px) {
  .row {
    display: flex;
    text-align: left;
  }
}

.column {
  flex: 50%;
  padding: 1rem 2rem;

}

/* Main sections formatting */

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px; /* 5px rounded corners */
  display: block;
  margin: auto;
}

img {
  border-radius: 10px 10px 0 0;
  max-width: 100%;
  max-height: 100%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card_container {
  padding: 2px 16px;
}

.subtitle {
  display: inline-block;
  margin: 1rem 0;
}

.PDK_link {
  font-weight: 700;
  font-style: italic;
  color: var(--pdk-orange);
}

.social_icons {
  font-size: 4rem;
  padding: 1rem;
  cursor: pointer;
}

/* Footer */
.footer {
  background-color: var(--pdk-darkgray);
  color: var(--pdk-yellow);
  position: absolute;
  bottom: 0;
  min-height: 80px;
  width: 100%;
  overflow: hidden;
  padding-top: 1rem;
}

.footer p {
  color: var(--pdk-yellow);
}

.copyright {
  text-align: center;
}

/* Buttons */

.square_btn{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #c58668;
}

.square_btn:active{
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.centered {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* Media queries */

@media screen and (min-width: 1400px) {
  .card {
    max-width: 80%;
  }
}


/* Tool backdrop */

.tool_backdrop {
  background: url(/assets/Abyss\ 3.jpg);
  min-height: 100vh;
  line-height: 2.5rem;
}

.tool {
  padding: 2rem;
  margin: 2rem;
  text-align: center;
}

.tool label,
.tool p {
  color: var(--pdk-yellow);
}

