/* Variables -- usage:  background-color: var(--main-bg-color); */

:root {
  --pdk-blue: #000080;
  --pdk-orange: #FF4500;
  --pdk-lightgray: #808080;
  --pdk-darkgray: #0E2F44;
  --pdk-yellow: #FFD700;
}


* {
  font-family: 'Open Sans', sans-serif;
  color: var(--pdk-darkgray);
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: block;
  margin: auto;
  min-height: 100vh;
  max-width: 1800px;
  position: relative;
}

/* Google Fonts */

h1, 
h2,
h3,
h4,
.section_title {
  font-family: 'Roboto', sans-serif;
  color: var(--pdk-orange);
  text-decoration: none;
  text-transform: uppercase;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

body {
  min-height: 400px;
  clear: both;
}


/* Main layout - FLEX when over 900px wide */

.row {
  text-align: center;
}

@media screen and (min-width: 900px) {
  .row {
    display: flex;
    text-align: left;
  }
}

.column {
  flex: 50%;
  padding: 1rem 2rem;

}

/* Main sections formatting */

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px; /* 5px rounded corners */
  display: block;
  margin: auto;
}

img {
  border-radius: 10px 10px 0 0;
  max-width: 100%;
  max-height: 100%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card_container {
  padding: 2px 16px;
}

.subtitle {
  display: inline-block;
  margin: 1rem 0;
}

.social_icons {
  font-size: 4rem;
  padding: 1rem;
  cursor: pointer;
}

/* Footer */
.footer {
  background-color: var(--pdk-darkgray);
  color: var(--pdk-yellow);
  position: absolute;
  bottom: 0;
  min-height: 100px;
  width: 100%;
  overflow: hidden;
}

.footer p {
  color: var(--pdk-yellow);
}

.copyright {
  text-align: center;
}

/* Buttons */

.join_button {
  background-color: var(--pdk-darkgray);
  border: none;
  color: var(--pdk-yellow);
  padding: 1rem 1.4rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0.25rem 0.4rem;
  cursor: pointer;
}

/* Media queries */

@media screen and (min-width: 1400px) {
  .card {
    max-width: 80%;
  }
}


